HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
.attach_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Docker data
mongo-data

### VS Code ###
.vscode/
